<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Биржа фриланс услуг</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Статьи</a></li>
                <li><a href="#">Биржа</a></li>
                <li><a href="#">Разместить резюме</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Разработчики</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Добро пожаловать на биржу фриланс услуг!</h1>
        <p>Вы можете запустить свой собственный фриланс-маркетплейс
            и начать зарабатывать деньги онлайн на комиссиях и рекламе.  </p>
        <p>Здесь вы можете:</p>
        <ul>
            <li>Опубликовать задание и получить предложения от фрилансеров.</li>
            <li>Найти фрилансеров по различным категориям и навыкам.</li>
            <li>Создать свой профиль фрилансера и найти интересные проекты.</li>
            <li>Читать статьи и советы по фрилансу.</li>
            <li>Связаться с нами в случае возникновения вопросов.</li>
        </ul>
    </main>

    <footer>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Статьи</a></li>
                <li><a href="#">Биржа</a></li>
                <li><a href="#">Разместить резюме</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Разработчики</a></li>
            </ul>
        </nav>
        <p>&copy; Разработано: Воклова Анастасия, 218 группа</p>
    </footer>

</body>
</html>
